:root {
  color-scheme: light dark; /* both supported */
}

/*Default Colors*/
body {
    --bgColor: #FAFAFA;
    --headerColor: #EEEEEE;
    --headerShadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    --boxShadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    --borderRadius: 2px;
    --fontTitle: 'Inter', 'Segoe UI', 'Lato', sans-serif;
    --fontSubtitle: 'Lato', 'Segoe UI', 'Inter', sans-serif;
    --fontColor: #000000;
    --cubicAnimation: cubic-bezier(0.45, 0.1, 0.25, 1);
    --icon-color: rgba(0, 0, 0, 0.54);
    --image-filter: brightness(100%);
    --hover-filter: brightness(75%);
    --font-heavy: 700;
    --font-normal: 400;

}
/*Dark Theme Colors*/
body.dark-theme {
    --bgColor: #121212;
    --headerColor: #212121;
    --headerShadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    --boxShadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    --borderRadius: 2px;
    --fontTitle: 'Inter', 'Segoe UI', 'Lato', sans-serif;
    --fontSubtitle: 'Lato', 'Segoe UI', 'Inter', sans-serif;
    --fontColor: #FFFFFF;
    --cubicAnimation: cubic-bezier(0.45, 0.1, 0.25, 1);
    --icon-color: rgba(255, 255, 255, 1);
    --image-filter: brightness(75%);
    --hover-filter: brightness(100%);
    --font-heavy: 600;
    --font-normal: 300;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
        --bgColor: #121212;
        --headerColor: #212121;
        --headerShadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
        --boxShadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
        --borderRadius: 2px;
        --fontTitle: 'Inter', 'Segoe UI', 'Lato', sans-serif;
        --fontSubtitle: 'Lato', 'Segoe UI', 'Inter', sans-serif;
        --fontColor: #FFFFFF;
        --cubicAnimation: cubic-bezier(0.45, 0.1, 0.25, 1);
        --icon-color: rgba(255, 255, 255, 1);
        --image-filter: brightness(75%);
        --hover-filter: brightness(100%);
        --font-heavy: 600;
        --font-normal: 300;
        
    }
    /* Override dark mode with light mode styles if the user decides to swap */
    body.light-theme {
        --bgColor: #FAFAFA;
        --headerColor: #EEEEEE;
        --headerShadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
        --boxShadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
        --borderRadius: 2px;
        --fontTitle: 'Inter', 'Segoe UI', 'Lato', sans-serif;
        --fontSubtitle: 'Lato', 'Segoe UI', 'Inter', sans-serif;
        --fontColor: #000000;
        --cubicAnimation: cubic-bezier(0.45, 0.1, 0.25, 1);
        --icon-color: rgba(0, 0, 0, 0.54);
        --image-filter: brightness(100%);
        --hover-filter: brightness(75%);
        --font-heavy: 700;
        --font-normal: 400;
    
    }
}


@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin high-text {
    color: var(--fontColor);
    opacity: 0.87;
    font-family: var(--fontTitle);
    font-weight: var(--font-heavy);
}
@mixin medium-text {
    color: var(--fontColor);
    opacity: 0.60;
    font-family: var(--fontSubtitle);
    font-weight: var(--font-normal);

}
@mixin disabled-text {
    color: var(--fontColor);
    opacity: 0.38;
    font-family: var(--fontSubtitle);
    font-weight: var(--font-normal);
}

@mixin reset-mp {
    padding: 0;
    margin: 0;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }